main {
  padding: 55px !important;
  font-family: "BC Sans", "Noto Sans", Arial, "sans serif";
}

table {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

tr td {
  padding: 10px !important;
}

button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar {
  color: white;
  padding: 5px 50px;
  background-color: #003366;
  border: none;
  border-bottom: 2px solid #fcba19;
}

.navbar a {
  color: white !important;
}

.newProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.newProductForm form {
  width: 50%;
}

hr {
  margin: 0px 0px 20px 0px;
  width: 120px;
  border: 2px solid #fcba19;
  opacity: 100%;
}

.btn-add,
.btn-edit,
.btn-delete {
  background-color: #fcba19;
  border: none;
  color: #003366;
  font-size: small;
}
.btn-submit {
  background-color: #fcba19;
  width: 150px;
  color: #003366;
  border: none;
}
.btn-edit:hover,
.btn-delete:hover,
.btn-add:hover,
.btn-submit:hover {
  background-color: #003366;
  color: white;
}

.developers {
  width: 300px;
  min-width: 300px;
}

.searchBar {
  width: 500px;
}
#selectFilterBy {
  width: 150px;
}
.input-group > .form-select {
  flex: none;
}

@media only screen and (max-width: 1025px) {
  main {
    padding: 15px !important;
  }
  .newProductForm {
    padding: 15px;
  }
  .newProductForm form {
    width: 100%;
  }
}
